    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


.container-fluid {
    padding: 0;
  }

/* Picture Slider Styles */
.carousel-inner img {
    width: 100%;
    height: 100vh;
}

.carousel-caption {
    max-width: 40%;
    position:absolute; 
    bottom:100px; 
    background: rgba(255,255,255,0.6); /* Semi-transparent black background */
    color: #663919; /* White text color */
    border-radius: 15px;
    
}

.carousel-caption h2{
    font-weight: bold;
  }

  .carousel-caption {
    font-weight: bold;
    font-size: 25px;
  }

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .carousel-caption {
      display: block !important; /* Ensure the caption is displayed on small screens */
      margin-bottom: 0;
      padding: 15px;
    }
    
    .carousel-caption h2{
      font-size: 20px;
    }

    .carousel-caption p{
      font-size: 10px;
    }
  }

  /* Adjust for Navbar Height */

  .container-heading {
      width: 100%;
      /* background-color: silver; */
      color: #663919;
      background-color: white;    
      padding: 50px 0;
      justify-content: center;
      transition: ease-in 1s;
      
  }
      
  .chairman-text {
    font-size: 30px;
      justify-content: center;
      text-align: center;
      padding: 50px;
  }

  
/* About Us Styles */

.hero{
  background-color: #f8f8f8;
  overflow: hidden;
}

.heading h1{
  font-size: 30px;
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}

.heading h1::after{
  content: '';
  background: #663919;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

 .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}

.hero-content{
    flex: 1;
    width: 600px;
    margin: 0 25px;
    animation: fadeInUp 2s ease;
}


.hero-content button{
    display: inline-block;
    border-radius: 10px;
    background-color: #663919;
    color: #fff;
    font-weight: bold;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition effect for background color */

}

.hero-content button:hover{
    background-color: white;
    transform: scale(1.1);
    color: blue;
    text-decoration: underline;
}

.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}

.hero-content p{
    font-size: 16px;
    line-height: 1.5rem;
    margin-bottom: 40px;
    color: #666;
}

.hero-image{
    flex: 0.4;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}

.hero-image img{
    width: 100%;
    height: 400pxpx;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .heading h1{
      font-size: 30px;
      margin-top: 30px;
  }

  .hero{
      margin: 0px;
  }

  .container1{
      width: 100%;
      flex-direction: column;
      margin: 0px;
      padding: 0px 40px;

  }

  .hero-content{
      width: 100%; 
      margin: 35px 0px;
  }

  .hero-content h2{
      font-size: 26px;
  }

  .hero-content p{
      font-size: 16px;
      margin-bottom: 20px;
  }

  .hero-content button{
      font-size: 16px;
      padding: 8px 16px;
  }

  .hero-image{
      width: 100%;
      height: 100px;
  }
}

@keyframes fadeInUp{
  0%{
      opacity: 0;
      transform: translateY(50px);
  }

  100%{
      opacity: 1;
      transform: translateY(0px);
  }
}

@keyframes fadeInRight{
  0%{
      opacity: 0;
      transform: translateX(-50px);
  }

  100%{
      opacity: 1;
      transform: translateX(0px);
  }
} 

/* Our Services List.............................................................................. */

.container2{
    width: 100%;
    height: auto;
    padding: 0px 8%;
    background-color: #f8f8f8;
    border-radius: 10px;
    animation: fadeInDown 2s ease;
    padding-bottom: 20px;
}
@keyframes fadeInDown{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
  
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
  }

.container2 h1{
    margin-top: 100px;
	font-size: 30px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 60px;
	font-weight: 600;
	position: relative;
}

.container2 h1::after{
    content: '';
    background: #663919;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    
    
}

.services{
    text-align: center;
    border-radius: 5px;
    padding: 25px 10px;
    font-size: 12px;
    cursor: pointer;
    background: #fff;
    transition: transform 0.5s, background 0.5s;
}

.services i{
    font-size: 30px;
    margin-bottom: 10px;
    color: #663919;
}

.services h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 8px;
}

.services:hover{
    background: #663919;
    color: #fff;
    transform: scale(1.05);
}

.services:hover i{
    color: #fff;
}


/* Projects Section............................................................................. */
 .top-button{
        font-size: 30px;
        text-align: center;
        padding-top: 10%;
        margin-bottom: 60px;
        font-weight: 600;
        position: relative;
        }

        .top-button::after{
        content: '';
        background: #663919;
        width: 100px;
        height: 5px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        }

        .projects{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            bottom: 0;
            background-color: #f8f8f8;
            width: 100%;
            
        }

        .container7 {
            width: fit-content;
            padding-bottom: 100px;
            max-width: 2000px; /* Set your desired maximum width */
            margin: 0; /* Center the container */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 100px 50px; /* Adjust the gap as needed */
        }

        .container7 .card{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 350px;
            height: 300px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
            transition: 0.5s;
        }

        .container7 .card:hover{
            height: 450px;
        }

        .container7 .card .imgBx{
            position: absolute;
            top: 0;
            left: 20px;
            overflow: hidden;
            width: 300px;
            height: 220px;
            background: #333;
            border-radius: 10px;
            transition: 0.5s;
        }

        .container7 .card:hover .imgBx{
            top: -100px;
            scale: 0.75;
            box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
        }

        .container7 .card .imgBx img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .container7 .card .content-project{
            position: absolute;
            top: 252px;
            width: 100%;
            padding: 0 30px;
            height: 35px;
            overflow: hidden;
            text-align: center;
            transition: 0.5s;
        }

        .container7 .card:hover .content-project{
            top: 130px;
            height: 252px;
        }

        .container7 .card .content-project h2{
            font-size: 30px;
            font-weight: 600;
            color: #663919;
        }

        .container7 .card .content-project p{
            color: #333;
        }

        .container7 .card .content-project a{
            position: relative;
            top: 15px;
            display: inline-block;
            padding: 12px 25px;
            background: #663919;
            color: #fff;
            font-weight: 500;
            text-decoration: none;
            border-radius: 8px;
        }

        .view-all-btn {
            margin-top: -30px; /* Adjust the margin as needed */
            text-align: center;
        }

        .view-all-btn a {
            padding: 12px 25px;
            background: #663919;
            color: #fff;
            font-weight: 500;
            text-decoration: none;
            border-radius: 8px;
        }


        @media (max-width: 992px) {
        .container7{
            width: auto;
        }
      .project-card {
        width: calc(50% - 20px);
      }
      

    }

    @media (max-width: 768px) {
       
        
      .project-card {
        width: calc(50% - 20px);
      }

      .project-details p {
        display: none;
      }
    }

    @media (max-width: 480px) {
      .project-card {
        width: calc(50%-20px);
      }
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }



  /* Partner List.................................. */

.client-wrap h1{
    color: #663919;
    margin-top: 100px;
    font-size: 30px;
    text-align: center;
    padding-top: 3px;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;
}

.client-wrap h1::after{
    content: '';
    background: #663919;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.container3 {
	display: grid;
	align-items: center;
    animation: fadeInDown 2s ease;
}

.our-clients {
	width: 100%;
	height: auto;
	text-align: center;
}

.our-clients ul {
	padding: 0;
	margin: 0;
}

.our-clients ul li{
	list-style: none;
	display: inline-block;
	width:180px;
	height:100px;
	position: relative; 
	overflow: hidden;
	cursor:pointer;
	margin: 10px;
	box-shadow: 0px 0px 10px -7px #555;
	transition: .5s;
}

.our-clients ul li img {
	width: 100%;
	height: 100%;
}
.our-clients ul li img:nth-child(1) {
	transform: translateY(0);
	transition: .5s;
}
.our-clients ul li img:nth-child(2) {
	transform: translateY(0);
	transition: .5s;
}

/*Hover-Section*/


.our-clients ul li:hover img:nth-child(1) {
	transform: translateY(-100%);
	transition: .5s;
}
.our-clients ul li:hover img:nth-child(2) {
	transform: translateY(-100%);
	transition: .5s;
}
